footer{
    width: 84rem;
    height: 7.5rem;
    background: $black;
    color: #707070;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4.2rem;
    padding-right: 10rem;
}

footer img{
    padding-right: 4.2rem;
}

.arrow-footer{
    width: 84rem;
    display: flex;
    align-items: center;
    justify-content: center;
    float: center;
    margin-bottom: -.9rem;
}

